h1{
        font-size:90px;
        color:#7b708e;
        text-align: center;
}
p{
        font-size:70px;
        color:#5f6268;
        font-family: 'Gloria Hallelujah', cursive;
}
@keyframes swageffect{
  0%  {color:#ff89ed;}
 25%  {color:#f5ff89;}
 50%  {color:#538ae2;}
 75%  {color:#89ff9d;}
 100% {color:#ff89ed;}
}
@-webkit-keyframes swageffect{
    0%  {color:#ff89ed;}
   25%  {color:#f5ff89;}
   50%  {color:#538ae2;}
   75%  {color:#89ff9d;}
   100% {color:#ff89ed;}
}
#cool{
    -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    animation-name: swageffect;
    font-size: 60px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    font-size:70px;
    color:#538ae2;
}

#cat{
        height:auto;
        width:20%;
        transform: rotate(25deg);
        margin-left: 500px;
}
#dog{
        height:auto;
        width:20%;
        transform: rotate(250deg);
        margin-left: 250px;
}
#okay{
        height: auto;
        width: 20%;
}
#bye{
        height: auto;
        width: 25%;
}
body{
  background-color: #7d97c1;
}
li{
        color:#ad6da4;
        height:auto;
        width: 25%;
}
#pie{
        margin-left: 10px;
        color:#2e227a;
        font-family: 'Barrio', cursive;
}
#cake{
        margin-left: 10px;
        color:#2e227a;
        font-family: 'Barrio', cursive;
}
#monkey{
        color:#2e227a;
        font-family: 'Barrio', cursive;
}
#puppy{
        color:#ef53c0;
}
#last{
        height: auto;
        width: 20%;
}
#hi{
      height: auto;
      width: 20%;
        transform: rotate(270deg);
        margin-left: 100px;

}
#first{
      height: auto;
      width: 25%;

}
@keyframes swageffect{
  0%  {color:#ff89ed;}
 25%  {color:#f5ff89;}
 50%  {color:#538ae2;}
 75%  {color:#89ff9d;}
 100% {color:#ff89ed;}
}
@-webkit-keyframes swageffect{
    0%  {color:#ff89ed;}
   25%  {color:#f5ff89;}
   50%  {color:#538ae2;}
   75%  {color:#89ff9d;}
   100% {color:#ff89ed;}
}
#monkey{
    -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    animation-name: swageffect;
    font-size: 60px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    font-size:70px;
    color:#538ae2;
}
@keyframes swageffect{
  0%  {color:#ff89ed;}
 25%  {color:#f5ff89;}
 50%  {color:#538ae2;}
 75%  {color:#89ff9d;}
 100% {color:#ff89ed;}
}
@-webkit-keyframes swageffect{
    0%  {color:#ff89ed;}
   25%  {color:#f5ff89;}
   50%  {color:#538ae2;}
   75%  {color:#89ff9d;}
   100% {color:#ff89ed;}
}
#pie{
    -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    animation-name: swageffect;
    font-size: 60px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    font-size:70px;
    color:#538ae2;
}
@keyframes swageffect{
  0%  {color:#ff89ed;}
 25%  {color:#f5ff89;}
 50%  {color:#538ae2;}
 75%  {color:#89ff9d;}
 100% {color:#ff89ed;}
}
@-webkit-keyframes swageffect{
    0%  {color:#ff89ed;}
   25%  {color:#f5ff89;}
   50%  {color:#538ae2;}
   75%  {color:#89ff9d;}
   100% {color:#ff89ed;}
}
#cake{
    -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    animation-name: swageffect;
    font-size: 60px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    font-size:70px;
    color:#538ae2;
}
